<!DOCTYPE html>
<div class="container" layout-align="center">
  <div id="signup">
    <div class="signup-screen">
      <div class="space-bot text-center">
        <h1>Login</h1>
        <div class="invalid" ng-show="invalid"> Invalid username or password </div>
        <md-divider></md-divider>
      </div>
      <form class="form-register" name="register">
        <div>
          <div layout-gt-sm="row">
            <md-input-container  class="md-block" flex-gt-sm="">
              <label for="loginUsername">Username</label>
              <input required id="loginUsername" ng-model="loginUsername">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container  class="md-block" flex-gt-sm="">
              <label for ="loginPassword">Password</label>
              <input required type="password" id="loginPassword" ng-model="loginPassword">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-button md-no-ink class="md-raised md-primary" flex-gt-sm="" ng-click="login()">Login</md-button>
            <md-button href="# " class="md-primary">New User? Sign Up</md-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>