<md-content class="md-padding">
<section layout="row" layout-align="center center" ng-hide="quizStart" layout-wrap>
<img src="{{chosen_category.data.category.category_image }}"><br>
</section>
<section layout="row" layout-align="center center" layout-wrap>
<md-button ng-hide="quizStart" ng-click="beginQuiz()" class="md-raised md-primary" style="background: green">Begin</md-button>
</section>
<section layout="row" layout-align="left" class="questions" layout-wrap>
  <ul style="list-style: none;" ng-show="quizStart">
    <li class="questionText">{{ question.question_text }}</li>
    <br>
    <md-radio-group ng-model="answer" ng-change="checkanswer()">
      <md-radio-button value="{{ option }}" ng-repeat="option in options">{{ option }}</md-radio-button>
    </md-radio-group>
  </ul>
</section>
</md-content>