
<md-content class="md-padding">
<h3 style="text-align: center"> Choose Your category </h3>
<div layout="row" layout-xs="column">
 <div flex>
  <md-card>
    <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ category1.category_name }}</span>
          </md-card-title-text>
     </md-card-title>
     <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/game/{{ category1}}">Play</md-button>
     </md-card-actions>
  </md-card>
   </div>

  <div flex>
  <md-card>
    <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ category2.category_name }}</span>
          </md-card-title-text>
     </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/game/{{ category2}}">Play</md-button>
    </md-card-actions>
  </md-card>
    </div>


  <div flex>
  <md-card>
    <md-card-title>
          <md-card-title-text>
            <span  class="md-headline">{{ category3.category_name }}</span>
          </md-card-title-text>
     </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/game/{{ category3 }}">Play</md-button>
    </md-card-actions>
  </md-card>
    </div>
</div>
  <a href style="padding-left: 7px">Browse more categories</a>
</md-content>