{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<!--script type="text/javascript" src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script-->
<script type="text/javascript" src="{% static 'javascripts/quiz.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/quiz.route.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/services/navbar.services.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controller/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.services.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/authentication.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/game/game.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/game/services/home.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/game/controllers/home.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/game/controllers/profile.controller.js' %}"></script>


