{% load staticfiles %}

<div ng-controller="NavbarController" ng-cloak="" class="navBar">
    <md-content>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <img src="{% static 'images/quiz.jpg' %}" id="logo">
            <md-nav-item md-nav-click="goto('page1')" name="page1" ng-show="logged_in">Home</md-nav-item>
            <md-nav-item md-nav-click="goto('page2')" name="page2" ng-show="logged_in">Page Two</md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" name="page3" ng-show="logged_in">Page 3</md-nav-item>
            <span flex></span>
            <md-menu-bar id="profile" ng-show="logged_in">
                <md-menu>
                     <i class="material-icons md-36" ng-click="$mdOpenMenu()">face</i>
                     <md-menu-content>
                           <md-menu-item>
                               <md-button ng-click="logout()">Logout</md-button>
                           </md-menu-item>
                     </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </md-nav-bar>
    </md-content>
</div>

